.logo {
  position: relative;
}

.fadeIn {
  animation: fadeIn 1.2s normal ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
