:root {
  --main-background-color: #220901;
  --ms-nav-bg: #621708;
  --mm-text-color: #f48c06;
  --mm-title-color: #bc3908;
}
body {
  background-color: var(--main-background-color);
}

.navbar-links {
  background-color: var(--ms-nav-bg);
}

.navbar .nav-link:hover,
.nav-link:hover.nav-link {
  color: var(--mm-text-color);
}

.mm-title-header {
  color: var(--mm-title-color) !important;
}

.mm-hours {
  color: var(--mm-text-color);
}

.mm-header {
  height: 100vh;
}

.menu-not-available {
  height: 341px;
  font-family: "Dosis";
}

.menu-not-available h1 {
  height: fit-content;

  align-self: center;
}

.the-h2 h2 {
  line-height: 0.5;
}

.unify-text {
  color: var(--mm-text-color);
}

#mm-navbar-toggler {
  background-color: var(--mm-title-color);
  color: var(--main-background-color);
}
#mm-navbar-toggler:hover {
  background-color: var(--main-background-color);
  color: var(--ms-nav-bg);
}
#mm-dropdown {
  color: var(--main-background-color);
}
#mm-dropdown .nav-item .nav-link {
  color: var(--main-background-color);
}
#mm-dropdown .nav-item .nav-link:hover {
  color: var(--mm-text-color);
}
.location {
  padding: 40px 0px;
}

@media (max-width: 1024px) {
  .mm-header {
    height: 80vh;
  }
}
